openapi: 3.0.1
info:
  description: "Api to help platform wide items such as users, tenants, applications,\
    \ subscriptions, etc."
  title: Management Api
  version: v1.0
servers:
- url: https://api.edgraph.com/management
security:
- oauth2:
  - https://api.edgraph.com/auth/management
paths:
  /apiresources/{apiResourceId}:
    delete:
      operationId: DeleteApiResourceAsync
      parameters:
      - description: ""
        explode: false
        in: path
        name: apiResourceId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: true
        in: query
        name: api-version
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: header
        name: X-version
        required: false
        schema:
          type: string
        style: simple
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: Unauthorized. The request requires authentication. The OAuth
            bearer token was either not provided or is invalid. The operation may
            succeed once authentication has been successfully completed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: Forbidden. The request cannot be completed in the current authorization
            context. Contact your administrator if you believe this operation should
            be allowed.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: An unhandled error occurred on the server.See the response
            body for details.
        "204":
          description: The resource was successfully deleted.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails'
          description: Bad Request. The request was invalid and cannot be completed.
            See the response body for specific validation errors. This will typically
            be an issue with the query parameters or the request body values.
      summary: Deletes an OpenId Api Resource
      tags:
      - Api Resources
    get:
      operationId: GetApiResourceByIdAsync
      parameters:
      - description: ""
        explode: false
        in: path
        name: apiResourceId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: true
        in: query
        name: api-version
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: header
        name: X-version
        required: false
        schema:
          type: string
        style: simple
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: Unauthorized. The request requires authentication. The OAuth
            bearer token was either not provided or is invalid. The operation may
            succeed once authentication has been successfully completed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: Forbidden. The request cannot be completed in the current authorization
            context. Contact your administrator if you believe this operation should
            be allowed.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: An unhandled error occurred on the server.See the response
            body for details.
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.HttpAggregators.Management.Api.Controllers.v1.ViewModels.Responses.ApiResourceResponse'
          description: The requested resource was successfully retrieved.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails'
          description: Bad Request. The request was invalid and cannot be completed.
            See the response body for specific validation errors. This will typically
            be an issue with the query parameters or the request body values.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails'
          description: The resource could not be found.
      summary: Retrieves a specific OpenId Api Resource
      tags:
      - Api Resources
    put:
      operationId: CreateOrUpdateApiResourceAsync
      parameters:
      - description: ""
        explode: false
        in: path
        name: apiResourceId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: true
        in: query
        name: api-version
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: header
        name: X-version
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/EdGraph.HttpAggregators.Management.Api.Controllers.v1.ViewModels.Requests.UpdateApiResourceRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/EdGraph.HttpAggregators.Management.Api.Controllers.v1.ViewModels.Requests.UpdateApiResourceRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/EdGraph.HttpAggregators.Management.Api.Controllers.v1.ViewModels.Requests.UpdateApiResourceRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/EdGraph.HttpAggregators.Management.Api.Controllers.v1.ViewModels.Requests.UpdateApiResourceRequest'
        description: ""
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: Unauthorized. The request requires authentication. The OAuth
            bearer token was either not provided or is invalid. The operation may
            succeed once authentication has been successfully completed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: Forbidden. The request cannot be completed in the current authorization
            context. Contact your administrator if you believe this operation should
            be allowed.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: An unhandled error occurred on the server.See the response
            body for details.
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.HttpAggregators.Management.Api.Controllers.v1.ViewModels.Responses.ApiResourceResponse'
          description: The requested resource was successfully retrieved.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails'
          description: Bad Request. The request was invalid and cannot be completed.
            See the response body for specific validation errors. This will typically
            be an issue with the query parameters or the request body values.
      summary: Adds or Updates an OpenId Api Resource
      tags:
      - Api Resources
  /apiresources:
    get:
      operationId: GetAllApiResourcesAsync
      parameters:
      - description: ""
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 10
          format: int32
          type: integer
        style: form
      - description: ""
        explode: true
        in: query
        name: pageIndex
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      - description: ""
        explode: true
        in: query
        name: orderBy
        required: false
        schema:
          default: Name ASC
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: filter
        required: false
        schema:
          default: ""
          type: string
        style: form
      - explode: true
        in: query
        name: api-version
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: header
        name: X-version
        required: false
        schema:
          type: string
        style: simple
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: Unauthorized. The request requires authentication. The OAuth
            bearer token was either not provided or is invalid. The operation may
            succeed once authentication has been successfully completed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: Forbidden. The request cannot be completed in the current authorization
            context. Contact your administrator if you believe this operation should
            be allowed.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: An unhandled error occurred on the server.See the response
            body for details.
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.HttpAggregators.Management.Api.Controllers.v1.ViewModels.Responses.ApiResourceResponsePaginatedItemsViewModel'
          description: The requested resource was successfully retrieved.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails'
          description: Bad Request. The request was invalid and cannot be completed.
            See the response body for specific validation errors. This will typically
            be an issue with the query parameters or the request body values.
      summary: Retrieves a list of OpenId Api Resources
      tags:
      - Api Resources
    post:
      operationId: CreateApiResourceAsync
      parameters:
      - explode: true
        in: query
        name: api-version
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: header
        name: X-version
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/EdGraph.HttpAggregators.Management.Api.Controllers.v1.ViewModels.Requests.CreateApiResourceRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/EdGraph.HttpAggregators.Management.Api.Controllers.v1.ViewModels.Requests.CreateApiResourceRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/EdGraph.HttpAggregators.Management.Api.Controllers.v1.ViewModels.Requests.CreateApiResourceRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/EdGraph.HttpAggregators.Management.Api.Controllers.v1.ViewModels.Requests.CreateApiResourceRequest'
        description: ""
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: Unauthorized. The request requires authentication. The OAuth
            bearer token was either not provided or is invalid. The operation may
            succeed once authentication has been successfully completed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: Forbidden. The request cannot be completed in the current authorization
            context. Contact your administrator if you believe this operation should
            be allowed.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: An unhandled error occurred on the server.See the response
            body for details.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.HttpAggregators.Management.Api.Controllers.v1.ViewModels.Responses.ApiResourceResponse'
          description: The resource was created. The location of the resource is available
            in the Location header of the response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails'
          description: Bad Request. The request was invalid and cannot be completed.
            See the response body for specific validation errors. This will typically
            be an issue with the query parameters or the request body values.
      summary: Creates a new OpenId Api Resource
      tags:
      - Api Resources
  /datasync/jobtypes/{jobTypeId}/profiles/{profileId}:
    delete:
      operationId: DeleteDataSyncProfileAsync
      parameters:
      - description: ""
        explode: false
        in: path
        name: jobTypeId
        required: true
        schema:
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: profileId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: api-version
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: header
        name: X-version
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/DataSyncApi.JobType.V1.DeleteProfileRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/DataSyncApi.JobType.V1.DeleteProfileRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/DataSyncApi.JobType.V1.DeleteProfileRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/DataSyncApi.JobType.V1.DeleteProfileRequest'
        description: ""
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: Unauthorized. The request requires authentication. The OAuth
            bearer token was either not provided or is invalid. The operation may
            succeed once authentication has been successfully completed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: Forbidden. The request cannot be completed in the current authorization
            context. Contact your administrator if you believe this operation should
            be allowed.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: An unhandled error occurred on the server.See the response
            body for details.
        "204":
          description: The resource was successfully deleted.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails'
          description: Bad Request. The request was invalid and cannot be completed.
            See the response body for specific validation errors. This will typically
            be an issue with the query parameters or the request body values.
      summary: Delete a profile assigned to the DataSync job type
      tags:
      - DataSync
    put:
      operationId: UpdateDataSyncProfileAsync
      parameters:
      - description: ""
        explode: false
        in: path
        name: jobTypeId
        required: true
        schema:
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: profileId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: api-version
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: header
        name: X-version
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/DataSyncApi.JobType.V1.UpdateProfileRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/DataSyncApi.JobType.V1.UpdateProfileRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/DataSyncApi.JobType.V1.UpdateProfileRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/DataSyncApi.JobType.V1.UpdateProfileRequest'
        description: ""
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: Unauthorized. The request requires authentication. The OAuth
            bearer token was either not provided or is invalid. The operation may
            succeed once authentication has been successfully completed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: Forbidden. The request cannot be completed in the current authorization
            context. Contact your administrator if you believe this operation should
            be allowed.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: An unhandled error occurred on the server.See the response
            body for details.
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataSyncApi.JobType.V1.ProfileUpdatedResponse'
          description: The requested resource was successfully retrieved.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails'
          description: Bad Request. The request was invalid and cannot be completed.
            See the response body for specific validation errors. This will typically
            be an issue with the query parameters or the request body values.
      summary: Updates a profile assigned to the DataSync job type
      tags:
      - DataSync
  /datasync/jobtypes/{jobTypeId}/profiles:
    post:
      operationId: CreateDataSyncProfileAsync
      parameters:
      - description: ""
        explode: false
        in: path
        name: jobTypeId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: api-version
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: header
        name: X-version
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/DataSyncApi.JobType.V1.CreateProfileRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/DataSyncApi.JobType.V1.CreateProfileRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/DataSyncApi.JobType.V1.CreateProfileRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/DataSyncApi.JobType.V1.CreateProfileRequest'
        description: ""
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: Unauthorized. The request requires authentication. The OAuth
            bearer token was either not provided or is invalid. The operation may
            succeed once authentication has been successfully completed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: Forbidden. The request cannot be completed in the current authorization
            context. Contact your administrator if you believe this operation should
            be allowed.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: An unhandled error occurred on the server.See the response
            body for details.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataSyncApi.JobType.V1.ProfileCreatedResponse'
          description: The resource was created. The location of the resource is available
            in the Location header of the response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails'
          description: Bad Request. The request was invalid and cannot be completed.
            See the response body for specific validation errors. This will typically
            be an issue with the query parameters or the request body values.
      summary: Creates a new profile assigned to the DataSync job type
      tags:
      - DataSync
  /datasync/jobtypes/{jobTypeId}:
    delete:
      operationId: DeleteDataSyncJobTypeAsync
      parameters:
      - description: ""
        explode: false
        in: path
        name: jobTypeId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: api-version
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: header
        name: X-version
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/DataSyncApi.JobType.V1.DeleteJobTypeRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/DataSyncApi.JobType.V1.DeleteJobTypeRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/DataSyncApi.JobType.V1.DeleteJobTypeRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/DataSyncApi.JobType.V1.DeleteJobTypeRequest'
        description: ""
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: Unauthorized. The request requires authentication. The OAuth
            bearer token was either not provided or is invalid. The operation may
            succeed once authentication has been successfully completed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: Forbidden. The request cannot be completed in the current authorization
            context. Contact your administrator if you believe this operation should
            be allowed.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: An unhandled error occurred on the server.See the response
            body for details.
        "204":
          description: The resource was successfully deleted.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails'
          description: Bad Request. The request was invalid and cannot be completed.
            See the response body for specific validation errors. This will typically
            be an issue with the query parameters or the request body values.
      summary: Delete a DataSync job type
      tags:
      - DataSync
    get:
      operationId: GetDataSyncJobTypeProfileByIdAsync
      parameters:
      - description: ""
        explode: false
        in: path
        name: jobTypeId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: api-version
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: header
        name: X-version
        required: false
        schema:
          type: string
        style: simple
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: Unauthorized. The request requires authentication. The OAuth
            bearer token was either not provided or is invalid. The operation may
            succeed once authentication has been successfully completed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: Forbidden. The request cannot be completed in the current authorization
            context. Contact your administrator if you believe this operation should
            be allowed.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: An unhandled error occurred on the server.See the response
            body for details.
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataSyncApi.JobType.V1.JobTypeProfileResponse'
          description: The requested resource was successfully retrieved.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails'
          description: Bad Request. The request was invalid and cannot be completed.
            See the response body for specific validation errors. This will typically
            be an issue with the query parameters or the request body values.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails'
          description: The resource could not be found.
      summary: Retrieves a specific DataSync job type
      tags:
      - DataSync
    put:
      operationId: UpdateDataSyncJobTypeAsync
      parameters:
      - description: ""
        explode: false
        in: path
        name: jobTypeId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: api-version
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: header
        name: X-version
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/DataSyncApi.JobType.V1.UpdateJobTypeRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/DataSyncApi.JobType.V1.UpdateJobTypeRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/DataSyncApi.JobType.V1.UpdateJobTypeRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/DataSyncApi.JobType.V1.UpdateJobTypeRequest'
        description: ""
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: Unauthorized. The request requires authentication. The OAuth
            bearer token was either not provided or is invalid. The operation may
            succeed once authentication has been successfully completed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: Forbidden. The request cannot be completed in the current authorization
            context. Contact your administrator if you believe this operation should
            be allowed.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: An unhandled error occurred on the server.See the response
            body for details.
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataSyncApi.JobType.V1.JobTypeUpdatedResponse'
          description: The requested resource was successfully retrieved.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails'
          description: Bad Request. The request was invalid and cannot be completed.
            See the response body for specific validation errors. This will typically
            be an issue with the query parameters or the request body values.
      summary: Updates a DataSync job type
      tags:
      - DataSync
  /datasync/jobtypes:
    get:
      operationId: GetAllDataSyncJobTypesAsync
      parameters:
      - description: ""
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 10
          format: int32
          type: integer
        style: form
      - description: ""
        explode: true
        in: query
        name: pageIndex
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      - description: ""
        explode: true
        in: query
        name: orderBy
        required: false
        schema:
          default: ""
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: filter
        required: false
        schema:
          default: ""
          type: string
        style: form
      - explode: true
        in: query
        name: api-version
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: header
        name: X-version
        required: false
        schema:
          type: string
        style: simple
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: Unauthorized. The request requires authentication. The OAuth
            bearer token was either not provided or is invalid. The operation may
            succeed once authentication has been successfully completed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: Forbidden. The request cannot be completed in the current authorization
            context. Contact your administrator if you believe this operation should
            be allowed.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: An unhandled error occurred on the server.See the response
            body for details.
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataSyncApi.JobType.V1.JobTypeListResponsePaginatedItemsViewModel'
          description: The requested resource was successfully retrieved.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails'
          description: Bad Request. The request was invalid and cannot be completed.
            See the response body for specific validation errors. This will typically
            be an issue with the query parameters or the request body values.
      summary: Retrieves a list of DataSync job types
      tags:
      - DataSync
    post:
      operationId: CreateDataSyncJobTypeAsync
      parameters:
      - explode: true
        in: query
        name: api-version
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: header
        name: X-version
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/DataSyncApi.JobType.V1.CreateJobTypeRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/DataSyncApi.JobType.V1.CreateJobTypeRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/DataSyncApi.JobType.V1.CreateJobTypeRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/DataSyncApi.JobType.V1.CreateJobTypeRequest'
        description: ""
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: Unauthorized. The request requires authentication. The OAuth
            bearer token was either not provided or is invalid. The operation may
            succeed once authentication has been successfully completed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: Forbidden. The request cannot be completed in the current authorization
            context. Contact your administrator if you believe this operation should
            be allowed.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: An unhandled error occurred on the server.See the response
            body for details.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataSyncApi.JobType.V1.JobTypeCreatedResponse'
          description: The resource was created. The location of the resource is available
            in the Location header of the response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails'
          description: Bad Request. The request was invalid and cannot be completed.
            See the response body for specific validation errors. This will typically
            be an issue with the query parameters or the request body values.
      summary: Creates a new DataSync job type
      tags:
      - DataSync
  /datasync/providers/{providerId}/connectiontypes/{connectionTypeId}:
    delete:
      operationId: DeleteDataSyncConnectionTypeAsync
      parameters:
      - description: ""
        explode: false
        in: path
        name: providerId
        required: true
        schema:
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: connectionTypeId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: api-version
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: header
        name: X-version
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/DataSyncApi.Provider.V1.DeleteConnectionTypeRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/DataSyncApi.Provider.V1.DeleteConnectionTypeRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/DataSyncApi.Provider.V1.DeleteConnectionTypeRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/DataSyncApi.Provider.V1.DeleteConnectionTypeRequest'
        description: ""
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: Unauthorized. The request requires authentication. The OAuth
            bearer token was either not provided or is invalid. The operation may
            succeed once authentication has been successfully completed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: Forbidden. The request cannot be completed in the current authorization
            context. Contact your administrator if you believe this operation should
            be allowed.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: An unhandled error occurred on the server.See the response
            body for details.
        "204":
          description: The resource was successfully deleted.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails'
          description: Bad Request. The request was invalid and cannot be completed.
            See the response body for specific validation errors. This will typically
            be an issue with the query parameters or the request body values.
      summary: Delete a connection type assigned to the DataSync provider
      tags:
      - DataSync
    put:
      operationId: UpdateDataSyncConnectionTypeAsync
      parameters:
      - description: ""
        explode: false
        in: path
        name: providerId
        required: true
        schema:
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: connectionTypeId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: api-version
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: header
        name: X-version
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/DataSyncApi.Provider.V1.UpdateConnectionTypeRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/DataSyncApi.Provider.V1.UpdateConnectionTypeRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/DataSyncApi.Provider.V1.UpdateConnectionTypeRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/DataSyncApi.Provider.V1.UpdateConnectionTypeRequest'
        description: ""
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: Unauthorized. The request requires authentication. The OAuth
            bearer token was either not provided or is invalid. The operation may
            succeed once authentication has been successfully completed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: Forbidden. The request cannot be completed in the current authorization
            context. Contact your administrator if you believe this operation should
            be allowed.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: An unhandled error occurred on the server.See the response
            body for details.
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataSyncApi.Provider.V1.ConnectionTypeUpdatedResponse'
          description: The requested resource was successfully retrieved.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails'
          description: Bad Request. The request was invalid and cannot be completed.
            See the response body for specific validation errors. This will typically
            be an issue with the query parameters or the request body values.
      summary: Updates a connection type assigned to the DataSync provider
      tags:
      - DataSync
  /datasync/providers/{providerId}/connectiontypes:
    post:
      operationId: CreateDataSyncConnectionTypeAsync
      parameters:
      - description: ""
        explode: false
        in: path
        name: providerId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: api-version
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: header
        name: X-version
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/DataSyncApi.Provider.V1.CreateConnectionTypeRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/DataSyncApi.Provider.V1.CreateConnectionTypeRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/DataSyncApi.Provider.V1.CreateConnectionTypeRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/DataSyncApi.Provider.V1.CreateConnectionTypeRequest'
        description: ""
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: Unauthorized. The request requires authentication. The OAuth
            bearer token was either not provided or is invalid. The operation may
            succeed once authentication has been successfully completed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: Forbidden. The request cannot be completed in the current authorization
            context. Contact your administrator if you believe this operation should
            be allowed.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: An unhandled error occurred on the server.See the response
            body for details.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataSyncApi.Provider.V1.ConnectionTypeCreatedResponse'
          description: The resource was created. The location of the resource is available
            in the Location header of the response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails'
          description: Bad Request. The request was invalid and cannot be completed.
            See the response body for specific validation errors. This will typically
            be an issue with the query parameters or the request body values.
      summary: Creates a new connection type assigned to the DataSync provider
      tags:
      - DataSync
  /datasync/providers/{providerId}:
    delete:
      operationId: DeleteDataSyncProviderAsync
      parameters:
      - description: ""
        explode: false
        in: path
        name: providerId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: api-version
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: header
        name: X-version
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/DataSyncApi.Provider.V1.DeleteProviderRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/DataSyncApi.Provider.V1.DeleteProviderRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/DataSyncApi.Provider.V1.DeleteProviderRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/DataSyncApi.Provider.V1.DeleteProviderRequest'
        description: ""
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: Unauthorized. The request requires authentication. The OAuth
            bearer token was either not provided or is invalid. The operation may
            succeed once authentication has been successfully completed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: Forbidden. The request cannot be completed in the current authorization
            context. Contact your administrator if you believe this operation should
            be allowed.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: An unhandled error occurred on the server.See the response
            body for details.
        "204":
          description: The resource was successfully deleted.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails'
          description: Bad Request. The request was invalid and cannot be completed.
            See the response body for specific validation errors. This will typically
            be an issue with the query parameters or the request body values.
      summary: Delete a DataSync provider
      tags:
      - DataSync
    get:
      operationId: GetDataSyncProviderProfileByIdAsync
      parameters:
      - description: ""
        explode: false
        in: path
        name: providerId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: api-version
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: header
        name: X-version
        required: false
        schema:
          type: string
        style: simple
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: Unauthorized. The request requires authentication. The OAuth
            bearer token was either not provided or is invalid. The operation may
            succeed once authentication has been successfully completed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: Forbidden. The request cannot be completed in the current authorization
            context. Contact your administrator if you believe this operation should
            be allowed.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: An unhandled error occurred on the server.See the response
            body for details.
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataSyncApi.Provider.V1.ProviderProfileResponse'
          description: The requested resource was successfully retrieved.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails'
          description: Bad Request. The request was invalid and cannot be completed.
            See the response body for specific validation errors. This will typically
            be an issue with the query parameters or the request body values.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails'
          description: The resource could not be found.
      summary: Retrieves a specific DataSync provider
      tags:
      - DataSync
    put:
      operationId: UpdateDataSyncProviderAsync
      parameters:
      - description: ""
        explode: false
        in: path
        name: providerId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: api-version
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: header
        name: X-version
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/DataSyncApi.Provider.V1.UpdateProviderRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/DataSyncApi.Provider.V1.UpdateProviderRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/DataSyncApi.Provider.V1.UpdateProviderRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/DataSyncApi.Provider.V1.UpdateProviderRequest'
        description: ""
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: Unauthorized. The request requires authentication. The OAuth
            bearer token was either not provided or is invalid. The operation may
            succeed once authentication has been successfully completed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: Forbidden. The request cannot be completed in the current authorization
            context. Contact your administrator if you believe this operation should
            be allowed.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: An unhandled error occurred on the server.See the response
            body for details.
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataSyncApi.Provider.V1.ProviderUpdatedResponse'
          description: The requested resource was successfully retrieved.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails'
          description: Bad Request. The request was invalid and cannot be completed.
            See the response body for specific validation errors. This will typically
            be an issue with the query parameters or the request body values.
      summary: Updates a DataSync provider
      tags:
      - DataSync
  /datasync/providers:
    get:
      operationId: GetAllDataSyncProvidersAsync
      parameters:
      - description: ""
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 10
          format: int32
          type: integer
        style: form
      - description: ""
        explode: true
        in: query
        name: pageIndex
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      - description: ""
        explode: true
        in: query
        name: orderBy
        required: false
        schema:
          default: ""
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: filter
        required: false
        schema:
          default: ""
          type: string
        style: form
      - explode: true
        in: query
        name: api-version
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: header
        name: X-version
        required: false
        schema:
          type: string
        style: simple
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: Unauthorized. The request requires authentication. The OAuth
            bearer token was either not provided or is invalid. The operation may
            succeed once authentication has been successfully completed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: Forbidden. The request cannot be completed in the current authorization
            context. Contact your administrator if you believe this operation should
            be allowed.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: An unhandled error occurred on the server.See the response
            body for details.
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataSyncApi.Provider.V1.ProviderListResponsePaginatedItemsViewModel'
          description: The requested resource was successfully retrieved.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails'
          description: Bad Request. The request was invalid and cannot be completed.
            See the response body for specific validation errors. This will typically
            be an issue with the query parameters or the request body values.
      summary: Retrieves a list of DataSync providers
      tags:
      - DataSync
    post:
      operationId: CreateDataSyncProviderAsync
      parameters:
      - explode: true
        in: query
        name: api-version
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: header
        name: X-version
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/DataSyncApi.Provider.V1.CreateProviderRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/DataSyncApi.Provider.V1.CreateProviderRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/DataSyncApi.Provider.V1.CreateProviderRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/DataSyncApi.Provider.V1.CreateProviderRequest'
        description: ""
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: Unauthorized. The request requires authentication. The OAuth
            bearer token was either not provided or is invalid. The operation may
            succeed once authentication has been successfully completed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: Forbidden. The request cannot be completed in the current authorization
            context. Contact your administrator if you believe this operation should
            be allowed.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: An unhandled error occurred on the server.See the response
            body for details.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataSyncApi.Provider.V1.ProviderCreatedResponse'
          description: The resource was created. The location of the resource is available
            in the Location header of the response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails'
          description: Bad Request. The request was invalid and cannot be completed.
            See the response body for specific validation errors. This will typically
            be an issue with the query parameters or the request body values.
      summary: Creates a new DataSync provider
      tags:
      - DataSync
  /identityresources/{identityResourceId}:
    delete:
      operationId: DeleteIdentityResourceAsync
      parameters:
      - description: ""
        explode: false
        in: path
        name: identityResourceId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: true
        in: query
        name: api-version
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: header
        name: X-version
        required: false
        schema:
          type: string
        style: simple
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: Unauthorized. The request requires authentication. The OAuth
            bearer token was either not provided or is invalid. The operation may
            succeed once authentication has been successfully completed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: Forbidden. The request cannot be completed in the current authorization
            context. Contact your administrator if you believe this operation should
            be allowed.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: An unhandled error occurred on the server.See the response
            body for details.
        "204":
          description: The resource was successfully deleted.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails'
          description: Bad Request. The request was invalid and cannot be completed.
            See the response body for specific validation errors. This will typically
            be an issue with the query parameters or the request body values.
      summary: Deletes an OpenId Identity Resource
      tags:
      - Identity Resources
    get:
      operationId: GetIdentityResourceByIdAsync
      parameters:
      - description: ""
        explode: false
        in: path
        name: identityResourceId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: true
        in: query
        name: api-version
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: header
        name: X-version
        required: false
        schema:
          type: string
        style: simple
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: Unauthorized. The request requires authentication. The OAuth
            bearer token was either not provided or is invalid. The operation may
            succeed once authentication has been successfully completed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: Forbidden. The request cannot be completed in the current authorization
            context. Contact your administrator if you believe this operation should
            be allowed.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: An unhandled error occurred on the server.See the response
            body for details.
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.HttpAggregators.Management.Api.Controllers.v1.ViewModels.Responses.IdentityResourceResponse'
          description: The requested resource was successfully retrieved.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails'
          description: Bad Request. The request was invalid and cannot be completed.
            See the response body for specific validation errors. This will typically
            be an issue with the query parameters or the request body values.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails'
          description: The resource could not be found.
      summary: Retrieves a specific OpenId Identity Resource
      tags:
      - Identity Resources
    put:
      operationId: CreateOrUpdateIdentityResourceAsync
      parameters:
      - description: ""
        explode: false
        in: path
        name: identityResourceId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: true
        in: query
        name: api-version
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: header
        name: X-version
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/EdGraph.HttpAggregators.Management.Api.Controllers.v1.ViewModels.Requests.UpdateIdentityResourceRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/EdGraph.HttpAggregators.Management.Api.Controllers.v1.ViewModels.Requests.UpdateIdentityResourceRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/EdGraph.HttpAggregators.Management.Api.Controllers.v1.ViewModels.Requests.UpdateIdentityResourceRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/EdGraph.HttpAggregators.Management.Api.Controllers.v1.ViewModels.Requests.UpdateIdentityResourceRequest'
        description: ""
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: Unauthorized. The request requires authentication. The OAuth
            bearer token was either not provided or is invalid. The operation may
            succeed once authentication has been successfully completed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: Forbidden. The request cannot be completed in the current authorization
            context. Contact your administrator if you believe this operation should
            be allowed.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: An unhandled error occurred on the server.See the response
            body for details.
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.HttpAggregators.Management.Api.Controllers.v1.ViewModels.Responses.IdentityResourceResponse'
          description: The requested resource was successfully retrieved.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails'
          description: Bad Request. The request was invalid and cannot be completed.
            See the response body for specific validation errors. This will typically
            be an issue with the query parameters or the request body values.
      summary: Adds or Updates an OpenId Identity Resource
      tags:
      - Identity Resources
  /identityresources:
    get:
      description: Referenced from IdentityServer4
      operationId: GetAllIdentityResourcesAsync
      parameters:
      - description: ""
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 10
          format: int32
          type: integer
        style: form
      - description: ""
        explode: true
        in: query
        name: pageIndex
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      - description: ""
        explode: true
        in: query
        name: orderBy
        required: false
        schema:
          default: Name ASC
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: filter
        required: false
        schema:
          default: ""
          type: string
        style: form
      - explode: true
        in: query
        name: api-version
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: header
        name: X-version
        required: false
        schema:
          type: string
        style: simple
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: Unauthorized. The request requires authentication. The OAuth
            bearer token was either not provided or is invalid. The operation may
            succeed once authentication has been successfully completed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: Forbidden. The request cannot be completed in the current authorization
            context. Contact your administrator if you believe this operation should
            be allowed.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: An unhandled error occurred on the server.See the response
            body for details.
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.HttpAggregators.Management.Api.Controllers.v1.ViewModels.Responses.IdentityResourceResponsePaginatedItemsViewModel'
          description: The requested resource was successfully retrieved.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails'
          description: Bad Request. The request was invalid and cannot be completed.
            See the response body for specific validation errors. This will typically
            be an issue with the query parameters or the request body values.
      summary: Retrieves a list of OpenId Identity Resources
      tags:
      - Identity Resources
    post:
      operationId: CreateIdentityResourceAsync
      parameters:
      - explode: true
        in: query
        name: api-version
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: header
        name: X-version
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/EdGraph.HttpAggregators.Management.Api.Controllers.v1.ViewModels.Requests.CreateIdentityResourceRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/EdGraph.HttpAggregators.Management.Api.Controllers.v1.ViewModels.Requests.CreateIdentityResourceRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/EdGraph.HttpAggregators.Management.Api.Controllers.v1.ViewModels.Requests.CreateIdentityResourceRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/EdGraph.HttpAggregators.Management.Api.Controllers.v1.ViewModels.Requests.CreateIdentityResourceRequest'
        description: ""
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: Unauthorized. The request requires authentication. The OAuth
            bearer token was either not provided or is invalid. The operation may
            succeed once authentication has been successfully completed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: Forbidden. The request cannot be completed in the current authorization
            context. Contact your administrator if you believe this operation should
            be allowed.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: An unhandled error occurred on the server.See the response
            body for details.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.HttpAggregators.Management.Api.Controllers.v1.ViewModels.Responses.IdentityResourceResponse'
          description: The resource was created. The location of the resource is available
            in the Location header of the response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails'
          description: Bad Request. The request was invalid and cannot be completed.
            See the response body for specific validation errors. This will typically
            be an issue with the query parameters or the request body values.
      summary: Creates a new OpenId Identity Resource
      tags:
      - Identity Resources
  /migrations/applications/up:
    post:
      operationId: ApplicationsMigrateUpAsync
      parameters:
      - explode: true
        in: query
        name: api-version
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: header
        name: X-version
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ApplicationApi.Application.V2.MigrateUpRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationApi.Application.V2.MigrateUpRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ApplicationApi.Application.V2.MigrateUpRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ApplicationApi.Application.V2.MigrateUpRequest'
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: Unauthorized. The request requires authentication. The OAuth
            bearer token was either not provided or is invalid. The operation may
            succeed once authentication has been successfully completed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: Forbidden. The request cannot be completed in the current authorization
            context. Contact your administrator if you believe this operation should
            be allowed.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: An unhandled error occurred on the server.See the response
            body for details.
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.MigrationResult'
          description: The requested resource was successfully retrieved.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails'
          description: Bad Request. The request was invalid and cannot be completed.
            See the response body for specific validation errors. This will typically
            be an issue with the query parameters or the request body values.
      summary: "Applies a migration, upgrading the data."
      tags:
      - Migrations
  /migrations/edfiadmin/up:
    post:
      operationId: EdFiAdminMigrateUpAsync
      parameters:
      - explode: true
        in: query
        name: api-version
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: header
        name: X-version
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.MigrateUpRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.MigrateUpRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.MigrateUpRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.MigrateUpRequest'
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: Unauthorized. The request requires authentication. The OAuth
            bearer token was either not provided or is invalid. The operation may
            succeed once authentication has been successfully completed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: Forbidden. The request cannot be completed in the current authorization
            context. Contact your administrator if you believe this operation should
            be allowed.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: An unhandled error occurred on the server.See the response
            body for details.
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdfiAdminApi.EdfiAdmin.V1.MigrationResult'
          description: The requested resource was successfully retrieved.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails'
          description: Bad Request. The request was invalid and cannot be completed.
            See the response body for specific validation errors. This will typically
            be an issue with the query parameters or the request body values.
      summary: "Applies a migration, upgrading the data."
      tags:
      - Migrations
  /clients/{clientId}:
    delete:
      operationId: DeleteClientAsync
      parameters:
      - description: ""
        explode: false
        in: path
        name: clientId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: api-version
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: header
        name: X-version
        required: false
        schema:
          type: string
        style: simple
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: Unauthorized. The request requires authentication. The OAuth
            bearer token was either not provided or is invalid. The operation may
            succeed once authentication has been successfully completed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: Forbidden. The request cannot be completed in the current authorization
            context. Contact your administrator if you believe this operation should
            be allowed.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: An unhandled error occurred on the server.See the response
            body for details.
        "204":
          description: The resource was successfully deleted.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails'
          description: Bad Request. The request was invalid and cannot be completed.
            See the response body for specific validation errors. This will typically
            be an issue with the query parameters or the request body values.
      summary: Deletes a OpenId client
      tags:
      - OpenId Clients
    get:
      operationId: GetClientProfileByIdAsync
      parameters:
      - description: ""
        explode: false
        in: path
        name: clientId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: api-version
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: header
        name: X-version
        required: false
        schema:
          type: string
        style: simple
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: Unauthorized. The request requires authentication. The OAuth
            bearer token was either not provided or is invalid. The operation may
            succeed once authentication has been successfully completed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: Forbidden. The request cannot be completed in the current authorization
            context. Contact your administrator if you believe this operation should
            be allowed.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: An unhandled error occurred on the server.See the response
            body for details.
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentityApi.Client.V1.ClientProfileResponse'
          description: The requested resource was successfully retrieved.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails'
          description: Bad Request. The request was invalid and cannot be completed.
            See the response body for specific validation errors. This will typically
            be an issue with the query parameters or the request body values.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails'
          description: The resource could not be found.
      summary: Retrieves a specific OpenId client
      tags:
      - OpenId Clients
    put:
      operationId: CreateOrUpdateClientAsync
      parameters:
      - description: ""
        explode: false
        in: path
        name: clientId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: api-version
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: header
        name: X-version
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/IdentityApi.Client.V1.UpdateClientRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/IdentityApi.Client.V1.UpdateClientRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/IdentityApi.Client.V1.UpdateClientRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/IdentityApi.Client.V1.UpdateClientRequest'
        description: ""
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: Unauthorized. The request requires authentication. The OAuth
            bearer token was either not provided or is invalid. The operation may
            succeed once authentication has been successfully completed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: Forbidden. The request cannot be completed in the current authorization
            context. Contact your administrator if you believe this operation should
            be allowed.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: An unhandled error occurred on the server.See the response
            body for details.
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentityApi.Client.V1.UpdateClientRequest'
          description: The requested resource was successfully retrieved.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails'
          description: Bad Request. The request was invalid and cannot be completed.
            See the response body for specific validation errors. This will typically
            be an issue with the query parameters or the request body values.
      summary: Adds or Updates a OpenId client
      tags:
      - OpenId Clients
  /clients:
    get:
      operationId: GetAllClientsAsync
      parameters:
      - description: ""
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 10
          format: int32
          type: integer
        style: form
      - description: ""
        explode: true
        in: query
        name: pageIndex
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      - description: ""
        explode: true
        in: query
        name: orderBy
        required: false
        schema:
          default: ""
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: filter
        required: false
        schema:
          default: ""
          type: string
        style: form
      - explode: true
        in: query
        name: api-version
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: header
        name: X-version
        required: false
        schema:
          type: string
        style: simple
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: Unauthorized. The request requires authentication. The OAuth
            bearer token was either not provided or is invalid. The operation may
            succeed once authentication has been successfully completed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: Forbidden. The request cannot be completed in the current authorization
            context. Contact your administrator if you believe this operation should
            be allowed.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: An unhandled error occurred on the server.See the response
            body for details.
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentityApi.Client.V1.ClientListResponsePaginatedItemsViewModel'
          description: The requested resource was successfully retrieved.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails'
          description: Bad Request. The request was invalid and cannot be completed.
            See the response body for specific validation errors. This will typically
            be an issue with the query parameters or the request body values.
      summary: Retrieves a list of OpenId Clients
      tags:
      - OpenId Clients
    post:
      operationId: CreateClientAsync
      parameters:
      - explode: true
        in: query
        name: api-version
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: header
        name: X-version
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/IdentityApi.Client.V1.CreateClientRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/IdentityApi.Client.V1.CreateClientRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/IdentityApi.Client.V1.CreateClientRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/IdentityApi.Client.V1.CreateClientRequest'
        description: ""
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: Unauthorized. The request requires authentication. The OAuth
            bearer token was either not provided or is invalid. The operation may
            succeed once authentication has been successfully completed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: Forbidden. The request cannot be completed in the current authorization
            context. Contact your administrator if you believe this operation should
            be allowed.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: An unhandled error occurred on the server.See the response
            body for details.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentityApi.Client.V1.ClientCreatedResponse'
          description: The resource was created. The location of the resource is available
            in the Location header of the response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails'
          description: Bad Request. The request was invalid and cannot be completed.
            See the response body for specific validation errors. This will typically
            be an issue with the query parameters or the request body values.
      summary: Creates a new OpenId client
      tags:
      - OpenId Clients
  /registrations/{registrationId}/approve:
    put:
      operationId: ApproveTenantRegistrationAsync
      parameters:
      - description: ""
        explode: false
        in: path
        name: registrationId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: api-version
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: header
        name: X-version
        required: false
        schema:
          type: string
        style: simple
      responses:
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: Unauthorized. The request requires authentication. The OAuth
            bearer token was either not provided or is invalid. The operation may
            succeed once authentication has been successfully completed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: Forbidden. The request cannot be completed in the current authorization
            context. Contact your administrator if you believe this operation should
            be allowed.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdGraph.Common.Errors.Core.ProblemDetails'
          description: An unhandled error occurred on the server.See the response
            body for details.
        "200":
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails'
          description: Bad Request
      summary: Approve a tenant's registration request
      tags:
      - Registrations
  /registrations/{registrationId}/deny:
    put:
      operationId: DenyTenantRegistrationAsync
      parameters:
      - description: ""
        explode: false
        in: path
        name: registrationId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: api-version
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: header
        name: X-version
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            schema:
[...]
